@model ExamStudent.ViewModels.ForgotPassword
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reset Password</h2>


<form method="post">

    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>

    <div class="text-danger">
        @ViewBag.Message
    </div>


    <div class="form-group">
        <label>New Password</label>
        <input name="NewPassword" class="form-control" />
    </div>

    <div class="form-group">
        <label>Confirm Password</label>
        <input name="ConfirmPassword" class="form-control" />
    </div>

    <div class="form-group">
        @Html.HiddenFor(model => model.ResetCode)
    </div>

    <button class="btn btn-danger">Submit</button>
</form>


