
@{
    ViewBag.Title = "Thanku";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<div class="container">

    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead"><strong>Your Registration is Successfully</strong>Press Continue to homepage button</p>
        <hr>
        <p>
            Having trouble? <a href="http://edualphabet.com/UserAccount/Login">Login</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="http://edualphabet.com/" role="button">Continue to homepage</a>
        </p>
    </div>
</div>

<br />
<br />