@model List<ExamStudent.Models.PostForm>
@{
    ViewBag.Title = "Salary";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}



<div class="container">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Master Salary</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label>Post</label>
                <select name="PostID" class="form-control col-md-5">
                    @foreach (var item in Model)
                    {
                        <option value="@item.PostID">@item.PostName </option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Salary</label>
                <input class="form-control col-md-5" name="Salary" />
            </div>

            <div class="form-group">
                <label>Min Refer</label>
                <input class="form-control col-md-5" name="MinRefer" />
            </div>

            <div class="form-group">
                <label>Add Comssion</label>
                <input class="form-control col-md-5" name="Comssion" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Salary" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

</div>