
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


<div class="container">

    <form method="post">

        <div class="form-group">
            <label>Name</label>
            <input id="loginName" type="text" name="Eamil" class="form-control" required />
        </div>


        <div class="form-group">
            <label>Password</label>
            <input id="loginpassword" type="text" name="Password" class="form-control" required />
        </div>


        <button class="btn btn bg-primary">Save</button> ||

        <button type="reset" class="btn btn-danger">Reset</button>
    </form>



</div>
