<!DOCTYPE html>

<html>
<head>
    <title>Add To Cart</title>
    <link href="~/Content/AddToCart/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/AddToCart/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Content/AddToCart/js/bootstrap.js"></script>
    <!-- Custom Theme files -->
    <link href="~/Content/AddToCart/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/AddToCart/css/flexslider.css" type="text/css" media="screen" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
    </script>
    <meta name="keywords" content="Wines Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroidCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!--Google Fonts-->
    <link href="~/Content/AddToCart/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <!--JS for animate-->
    <link href="~/Content/AddToCart/css/animate.css" rel="stylesheet" type="text/css" media="all">
    <script src="~/Content/AddToCart/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
    <!--//end-animate-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <!--banner start here-->
    <div class="banner">
        <div class="container">
            <div class="header">

                <div class="logo wow fadeInLeft animated" data-wow-delay=".5s">
                    <h1><a href="index.html">AddToCart</a></h1>
                </div>
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--/.navbar-header-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
                            <li class="active"><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>

                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <!--/.navbar-collapse-->
                </nav>




                @*<div class="search-box">
                    <div id="sb-search" class="sb-search wow fadeInRight animated" data-wow-delay=".5s">
                        <form action="#" method="post">
                            <input class="sb-search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
                            <input class="sb-search-submit" type="submit" value="">
                            <span class="sb-icon-search"> </span>
                        </form>
                    </div>
                </div>*@

                @*<div class="cart">
                    <form action="#" method="post" class="last">
                        <input type="hidden" name="cmd" value="_cart" />
                        <input type="hidden" name="display" value="1" />
                        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                    </form>
                </div>*@

                <i class="fa fa-shopping-cart" style="font-size:48px;color:red"></i>

                <div class="clearfix"> </div>

                <!-- search-scripts -->
                <script src="~/Content/AddToCart/js/classie.js"></script>
                <script src="~/Content/AddToCart/js/uisearch.js"></script>
                <script>
                    new UISearch(document.getElementById('sb-search'));
                </script>
                <!-- //search-scripts -->


            </div>

            <!--header end here-->
            <div class="banner-main">

                <section class="slider">
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="~/CoverImage/3d-book-smart-object.png" class="img-responsive" alt=""/>

                               
                                <h3>At vero eos et accusamus </h3>
                                <p> ducimus qui blanditiis praesentium voluptatum atque corrupti quos dolores deleniti atque corrupti quos dolores et quas.</p>
                            </li>
                            <li>

                                <img src="~/CoverImage/3d-book-smart-object.png" class="img-responsive" alt="" />

                                <h3>Accusamus et iusto odio </h3>
                                <p> ducimus qui blanditiis praesentium atque corrupti quos dolores voluptatum deleniti atque corrupti quos dolores et quas.</p>
                            </li>
                            <li>
                                <img src="~/CoverImage/book_PNG2111.png"class="img-responsive" alt="" />

                               
                                <h3>Et accusamus et iusto </h3>
                                <p> ducimus qui blanditiis praesentium voluptatum atque corrupti quos dolores deleniti atque corrupti quos dolores et quas.</p>
                            </li>
                        </ul>
                    </div>
                </section>

            </div>

            <!--FlexSlider-->
            <link rel="stylesheet" href="~/Content/AddToCart/css/flexslider.css" type="text/css" media="screen" />
            <script defer src="~/Content/AddToCart/js/jquery.flexslider.js"></script>
            <script type="text/javascript">
                $(function () {
                    SyntaxHighlighter.all();
                });
                $(window).load(function () {
                    $('.flexslider').flexslider({
                        animation: "slide",
                        start: function (slider) {
                            $('body').removeClass('loading');
                        }
                    });
                });
            </script>
        </div>
    </div>
    <!--banner end here-->
    <!--welcome-->
    <div class="welcome w3l">
        <div class="container">
            <h3>welcome</h3>
           
        </div>
    </div>
    <!--welcome-->
   



    <div>
        @RenderBody()
    </div>

    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-3 footer-grid wow fadeInLeft animated" data-wow-delay=".5s">
                    <h3>Extras</h3>
                    <p>Ut rutrum neque a mollis laoreet diam enim feuiat dui nec ulacoper quam felis id diam. Nunc ut tortor ligula eu petiu Pelleesque .</p>
                </div>
                <div class="col-md-3 footer-grid animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
                    <h3>Useful Info</h3>
                    <ul>
                        <li><a href="singlepage.html">Hendrerit quam</a></li>
                        <li><a href="singlepage.html">Amet consectetur </a></li>
                        <li><a href="singlepage.html">Iquam hendrerit</a></li>
                        <li><a href="singlepage.html">Hendrerit quam</a></li>
                        <li><a href="singlepage.html">Amet consectetur </a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
                    <h3>Social</h3>
                    <ul class="social-icons1">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid wow fadeInRight animated" data-wow-delay=".5s">
                    <h3>Contact Us</h3>
                    <p>Pelleesque conquat dignissim lacus quis altrcies.</p>
                    <div class="footer-grid-address">
                        <p>Tel.7905872284</p>
                        <p>Fax: 110678</p>
                        <p>Email: <a class="email-link" href="mailto:info@example.com">vinaytiwari@gmail.com</a></p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="copy-right animated wow fadeInUp animated animated" data-wow-duration="1200ms" data-wow-delay="500ms">
                <p>© 2020 All rights reserved @*| Design by <a href="http://w3layouts.com">W3layouts</a></p>*@
            </div>
        </div>
    </div>
    <!--footer-->

</body>
</html>
