
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Mock DashBoard !</h1>

            <p>Mock Test DashBoard is Ready !</p>
        </div>

    </div>

</div>
