@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@





<br />
<br />
<h1 class="display-4 text-primary text-center text-secondary">About-us</h1>
<br />
<br />

<hr />

<div class="container">

    <div class="row">

        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                    <div class="carousel-item active">

                        <img src="~/AboutUsImage/about-image.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/AboutUsImage/imag2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/AboutUsImage/img.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <p class="card-text">
                        <b>EDUALPHABET</b> is India's Largest Digital Education Universe with a pioneering combination of Online & Offline Education.
                    </p>
                </div>

            </div>
            &nbsp;

            <div class="row">
                <div class="col-md-12">
                    <p class="card-text">
                        <b>EDUALPHABET</b>, in association with renowned academicians, eminent professors and teachers along with a group of professionals, together, have created a first of its kind digital education platform that incorporates technology & E-books aimed at providing the highest standards in education.
                    </p>
                </div>

            </div>

            <br />
            <div class="row">
                <div class="col-md-12">
                    <p class="card-text">
                        Our offering, one of the largest in the field of education, has a host of features. We can pride ourselves on more than 3340 courses across major categories starting from the School segment (6th to 12th Class - CBSE and State boards), Test preparation (800 plus courses covering all govt. & non govt. exams like MBA, IIT, Medical, Banking, Railways, Law, SSC, clerk, Civil services etc), Certificate courses (50 plus courses in various fields) and our Spoken English courses (more than 46 courses from the basic level to an advanced level).
                    </p>
                </div>

            </div>

        </div>
    </div>

    <br />

    <h4>COURSE OFFERINGS</h4>

    <p class="card-text">3340 Courses in both English & Hindi Mediums</p>

    <br />
    <table class="table table-bordered">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>Subject tutorials</td>
                <td>6-12th Class - CBSE / Hindi Medium State Boards All Subjects Book Avaiable and Pdf Notes.</td>

            </tr>

            <tr>
                <td>Under Graduate</td>
                <td>IIT/JEE/NEET / AIIMS/NDA/BBA/Law Entrance etc.</td>

            </tr>

            <tr>
                <td>Graduate / Post Graduate</td>
                <td>Banking / Railways / Indian Civil Services / SSC / MBA etc.</td>

            </tr>

            <tr>
                <td>Spoken English</td>
                <td>6 Levels (Absolute Beginner to Advanced Levels), with an App for Learning & Practicing and an Intelligent & Responsive feature called "INDI" for Conversation.</td>

            </tr>
        </tbody>
    </table>

    <br /><br />

    <p class="card-text">
        With the help of our Governing Council, who are eminent personalities of education industry, we have laid a strong foundation of effective learning. The design of the courses is based on the concept of learning through interactive videos and modern methods of interactive lectures, illustrations, diagrams, animations. Our Academic excellence board comprises a galaxy of faculties who are handpicked from leading educational institutes.Our course material/content, assignments and assessments are meticulously screened by our All India Rankers to check clarity of concept and acceptability by the learners. This ensures that the highest quality content is presented to the learners in an easy and interesting manner.
    </p>

</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />