@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h3 class="font-weight-bold text-center">Contact Us</h3>
<br />
<br />

<div class="container">

    <div class="row d-flex mb-5 contact-info">
        <div class="col-md-12 mb-4">
            <h2 class="h3">Contact Information</h2>
        </div>
        <div class="w-100"></div>
        <div class="col-md-3">
            <p>
                <span></span>
                Users feedback is the lifeblood of our vison. Tell us what’s on your mind, good or bad.

                We respond to all users feedback and look forward to hearing from you!

                Please connect to us for any query on  <b>info@edualphabet.com</b>

                Please connect to us for any advertisement on <b>info@edualphabet.com</b>
            </p>
        </div>
        @*<div class="col-md-3">
                <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
            </div>*@
        <div class="col-md-3">
            <p><span>Email:</span> <a href="info@edualphabet.com">info@edualphabet.com</a></p>
        </div>
        <div class="col-md-3">
            <p><span>Website</span> <a href="http://edualphabet.com/">Edualphabet.com</a></p>
        </div>
    </div>
</div>






<script src='https://kit.fontawesome.com/a076d05399.js'></script>


<hr />

<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

        <style>
            .map-container {
                height: 200px;
                position: relative;
            }

                .map-container iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
        </style>

        <!--Google map-->
        <div id="map-container-google-1" class="z-depth-1 map-container mb-5">
            <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                    style="border:0" allowfullscreen></iframe>
        </div>
        <!--Google Maps-->
        <!--Grid row-->
        <div class="row d-flex justify-content-center mb-5">

            <!--Grid column-->
            <!--<div class="col-md-6 text-center">

                <h3 class="font-weight-bold">Contact Us</h3>-->
            <!-- Material outline input -->
            <!--<div class="md-form md-outline mt-3">
                <input type="email" id="form-email" class="form-control">
                <label for="form-email">E-mail</label>
            </div>-->
            <!-- Material outline input -->
            <!--<div class="md-form md-outline">
                <input type="text" id="form-subject" class="form-control">
                <label for="form-subject">Subject</label>
            </div>-->
            <!--Material textarea-->
            <!--<div class="md-form md-outline mb-3">
                    <textarea id="form-message" class="md-textarea form-control" rows="5"></textarea>
                    <label for="form-message">How we can help?</label>
                </div>

                <button type="submit" class="btn btn-info btn-sm ml-0">Submit<i class="far fa-paper-plane ml-2"></i></button>

            </div>-->
            <!--Grid column-->

        </div>
        <!--Grid row-->
        <!--Grid row-->
        <div class="row text-center">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">



                <i class="fas fa-map-marker-alt fa-2x blue-text"></i>

                <p class="font-weight-bold my-3">Address</p>

                <p class="text-muted">Dwarka Sector 21 , New Delhi <br />New Delhi Dwarka, Pin Code: 110077</p>

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                <i class="fas fa-phone fa-2x blue-text"></i>

                <p class="font-weight-bold my-3">Phone number</p>

                <p class="text-muted">+91 9696940133</p>

            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

                <i class="fas fa-envelope fa-2x blue-text"></i>

                <p class="font-weight-bold my-3">E-mail</p>

                <p class="text-muted"> info@edualphabet.com</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>


