
@{
    ViewBag.Title = "PrivacyPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<h2 class="text-center text-info">Privacy Policy</h2>
<br />
<br />
<hr />
<div class="container">

    <div class="row">

        <div class="col-md-6">
            <h3>Privacy Policy</h3>
            <p>Edualphabet.com is committed to protecting the privacy of our users. We want to provide a safe, secure user experience. We will use commercially reasonable efforts, as described below, to ensure that the information you submit to us remains private, and is used only for the purposes as set forth herein. The following reflects our commitment to you. This privacy commitment is subject to, and governed by, the Edualphabet.com Terms and Conditions of Use, which represents the entire agreement between the user and Edualphabet.com. In the event that any of the terms, conditions or statements contained in this privacy commitment conflict with the Terms, the Terms shall control.<b>"If you leave the Exam. in b/w then your money will not be refunded."</b> </p>

            <br /><br />

            <b>Information About All Visitors to the Edualphabet.com Site :</b>
            <p>In general, we gather information about all of our users collectively, such as what areas users visit most frequently and what services users access the most. We only use such data in the aggregate. This information helps us determine what is most beneficial for our users, and how we can continually create a better overall experience for our users. We may share this information with our partners, but only in the aggregate, so that they too may understand how users, collectively, use career areas and our site, and so they may create a better overall experience for you.</p>

            <br /><br />

            <h4>Information About You Specifically :</h4>
            In some instances, such as when you sign up to use a service, we may need more specific information about you, such as your name, mailing address, e-mail address, telephone number etc. We may use that information to make you aware of additional products and services, which may be of interest to you, or to contact you regarding site changes. We may also ask for other information, such as information on your interests, your likes and dislikes regarding the site, the types of jobs you are interested in, etc., in an effort to deliver to you the best possible site experience.

        </div>

        <div class="col-md-6">
            <img src="~/Content/imgvinay/671fe58af5845f33e7786dd608484c8d_XL.jpg" class="img-responsive" id="vinay" />
        </div>

    </div>

</div>



<br />
<br />
<br />
<br />
<br />
<br />
<br />

<style>
    #vinay {
        width: 700px;
    }
</style>

