
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutEmployeeDashBoard.cshtml";
}
<br /><br /><br /><br />
<h2 class="main-title-w3layouts mb-2 text-center">Image Upload</h2>


<div class="container table-responsive">

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Upload Image</label>

            <input type="file" name="file" id="file"/>
        </div>
        <button class="btn btn-primary">Upload Image</button>

    </form>
</div>

<br /><br /><br /><br />
